<table>
	<tr><th>ID</th><td><%= @result.id %></td></tr>
	<tr><th>NAME</th><td><%= @result.name %></td></tr>
	<tr><th>AGE</th><td><%= @result.age %></td></tr>
	<tr><th>Mail</th><td><%= @result.mail %></td></tr>
	<tr><th>Tel</th><td><%= @result.tel %></td></tr>
	<tr><th>Create</th><td><%= @result.created_at %></td></tr>
	<tr><th>Update</th><td><%= @result.updated_at %></td></tr>
</table>
<hr/>
<a href="/sample/index"><< index</a>
