<% if false %>
<ol>
	<% mydata.each do |data| %>
	<li><%= data %></li>
	<% end %>	
</ol>
<% end %>
<tr>
	<td><%= mydata_counter %></td>>
	<td><%= mydata[:name] %></td>
	<td><%= mydata[:tel] %></td>
	<td><%= mydata[:mail] %></td>
</tr>
